body {
/*  GRADIENT
 * 
 * 	background: -moz-linear-gradient(-45deg, #50808e 0%, #969696 100%);
	background: -webkit-linear-gradient(-45deg, #50808e 0%,#969696 100%); 
	background: linear-gradient(135deg, #50808e 0%,#969696 100%); 
	* 
	*
	*/
	
	background: #326273;	
	font-family: Ubuntu Mono;
}
h1 {
    color: #eeeeee;
    font-size: 34px;
    font-weight: bold;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #e39774;
    margin: 1em 0;
    padding: 0;
    width: 650px;
}
#container {
	display: block;
}
#container2 {
	padding: 0px 0px 50px 0px;
}

#subtitle {
    color: #e39774;
    font-size: 28px;
    display: inline;
    font-weight: bold;
}
a {
	color: #ffffff;
	text-decoration: none;
	font-size: 22px;
	
}
a:hover {
	border-bottom: 3px dotted #e39774;
    text-decoration: none;
}
.badge {
	opacity: .60;
	padding: 2px 2px;
}
.badge:hover {
	opacity: .99;
}
#content {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
 }
 
@media only screen and (max-width: 1000px) and (min-width: 601px) and (min-aspect-ratio:
16/9){
 
h1 {
	font-size: 32px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #e39774;
    margin: 1em 0;
    padding: 0;
    width: 550px;
}
 #subtitle {
    color: #c4a69d;
    font-size: 28px;
    display: inline-block;
    font-weight: bold;
}
 #content {
	position: absolute;
	left: 50%;
	top: 100%;
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	height: 90%;
}
 #container {
	display: inline;
	float: left;
	padding: 25px;
 }
 #container2 {
	display: inline;
	float: left;
	padding: 25px;
	text-align: right;
 }
 #container3 {
	display: none;
 }
a {
	text-decoration: none;
	font-size: 26px;
	display:block;
	padding: 3px;
}
}
 @media only screen and (max-width: 1000px) and (min-width: 601px){
 
h1 {
	font-size: 32px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #e39774;
    margin: 1em 0;
    padding: 0;
    width: 550px;
}
 #subtitle {
    font-size: 28px;
    display: inline-block;
    font-weight: bold;
}
 #content {
	display: inline;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 90%;
}
 #container {
	display: inline;
	float: left;
	padding: 30px 85px;
 }
 #container2 {
	display: inline;
	float: left;
	padding: 30px;
	text-align: right;
 }
 #container3 {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	width: 550px;
	text-align: left;
 }
a {
	text-decoration: none;
	font-size: 26px;
	display:block;
	padding: 3px;
}
 
 
 }
 
 @media only screen and (max-width: 600px) and (min-width: 300px)  {
 
h1 {
	font-size: 26px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #e39774;
    margin: 1em 0;
    width: 390px;
}
 #subtitle {
    font-size: 22px;
    display: inline-block;
    font-weight: bold;
}
 #content {
	display: inline;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 95%;
 }
 #container {
	display: inline;
	float: left;
	padding: 10px 50px;
	margin: 0 auto;
 }
 #container2 {
	display: inline;
	float: left;
	padding: 10px;
	text-align: right;
 }
 #container3 {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
 }
a {
	text-decoration: none;
	font-size: 22px;
	display:block;
	padding: 7px 3px;
 }
}